@border-width: 1px;
@border-width-bold: 2px;

@time-cell-width: 30px;
@task-cell-header-height: 30px;
@cell-height: 30px;

@task-cell-width: 300px;

/*** カラーリング ***/
@grid-background: hsl(60, 30%, 95%);
@grid-background-core: hsl(160, 30%, 92%);
@grid-hour-background: hsl(60, 60%, 87%);
@grid-hour-background-core: hsl(160, 50%, 87%);

/*** 吹き出しの設定 ***/
@balloon-background-color: #FAFAFA;
@balloon-border-color: #888;
@balloon-border-width: 1px;
@balloon-arrow-size: 20px;

body {
  padding: 10px;
}

#schedule-editor {
  padding: 50px;
  text-align: center;

  * {
    box-sizing: inherit;
  }

  .default-border {
    border-color: black;
    border-style: solid;
  }

  .disable-user-select {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  #schedule-editor-table {
    text-align: left;
    padding: 0px;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    .default-border();
    border-width: @border-width-bold;

    #table-content {
      // とりあえず完成するまではスクロールはナシ
      /*height: 300px;
      overflow-x: hidden;
      overflow-y: scroll;*/
      position: relative;
    }

    #task-grid {
      .clearfix();
      height: 100%;
    }

    #task-grid, #table-header {
      .disable-user-select();

      #task-grid-fixed, #task-grid-time, #task-grid-editable {
        float: left;
        .default-border();
        border-width: 0px (@border-width-bold - @border-width) 0px 0px;
      }

      #task-grid-fixed, #task-grid-editable {
        width: @task-cell-width;
      }

      #task-grid-time {
        width: @time-cell-width;
      }

      #task-grid-editable {
        border-width: 0px;
        .clearfix();
      }

      .time-cell, .task-cell {
        box-sizing: border-box;
        height: @cell-height;
        vertical-align: top;
        cursor: default;
      }

      .time-cell {
        width: @time-cell-width;
        padding: 5px;
        float: left;
        text-align: center;
        background-color: @grid-hour-background;
        .default-border();
        border-width: 0px;

        &.core {
          background-color: @grid-hour-background-core;
        }

        &.hour-starts {
          .default-border();
          border-top-width: @border-width;
        }
      }

      .task-cell {
        width: @task-cell-width;
        float: left;
        background-color: @grid-background;
        .default-border();
        border-width: @border-width 0px 0px 0px;

        &.core {
          background-color: @grid-background-core;
        }
      }

      .time-cell.ui-selecting,
      .task-cell.ui-selecting {
        background-color: #FC4;
      }

      .time-cell.ui-selected,
      .task-cell.ui-selected {
        background-color: #666;
      }
    }

    #table-header {
        width: 100%;
        height: @task-cell-header-height;
        .default-border();
        border-width: 0px 0px (@border-width-bold - @border-width) 0px;

        .task-cell {
          width: 50%;
          height: 100%;
          background-color: hsl(60, 60%, 87%);
          font-weight: bold;
          text-align: center;
          font-size: 110%;
          line-height: @task-cell-header-height;
          border-width: 0px;
        }
    }

    #task-list {
      width: @task-cell-width;
      height: 100%;
      position: absolute;
      pointer-events: none;
      cursor: default;
      right: 0px;
      top: 0px;

      .task {
        position: absolute;
        width: @task-cell-width;
        border-width: 0px;
        padding: 0px;
        pointer-events: auto;
        z-index: 10;
        box-sizing: border-box;

        &.active {
          z-index: 15;
        }

        .task-content {
          width: 100%;
          height: 100%;
          padding: 5px;
          word-wrap: break-word;
          overflow: hidden;
          .default-border();
          border-width: @border-width 0px 0px 0px;

          .task-head {
            margin-bottom: 10px;
            .clearfix();

            .task-title {
              margin: 0px 25px 2px 0px;
              font-size: 1.1em;
            }

            .task-time {
              color: #666;
              float: right;
              font-size: 0.9em;
            }
          }

          &.topmost {
            border-width: 0px;
          }
        }
      }

      .background-yuv (@y, @u, @v) {
        @r: @y + 1.574800 * @v;
        @g: @y - 0.187324 * @u - 0.468124 * @v;
        @b: @y + 1.855600 * @u;
        background-color: rgb(@r, @g, @b);
      }

      .define-colors-by-type(0, 4, 120);

      .define-colors-by-type (@i, @end, @offset) when (@i = @end) {
      }

      .define-colors-by-type (@i, @end, @offset) when (@i < @end) {
        @radian: (2 * pi()) * ((@offset / 360) + (@i / @end));

        @sin: sin(@radian);
        @cos: cos(@radian);

        .task[data-task-type="@{i}"] {
          .background-yuv(200, 55 * @sin, 55 * @cos);
        }

        .task.active[data-task-type="@{i}"] {
          .background-yuv(170, 95 * @sin, 95 * @cos);
        }

        .define-colors-by-type(@i + 1, @end, @offset);
      }
    }

    #edit-balloon {
      position: absolute;
      left: 100px;
      width: 350px;
      z-index: 100;
      display: none;
      padding: 20px;
      margin-top: @balloon-arrow-size;
      background-color: @balloon-background-color;
      border: @balloon-border-width solid @balloon-border-color;
      border-radius: 10px;
      box-shadow: 1px 1px 3px #000;
      box-sizing: border-box;

      [class*="col-"] {
        padding-left: 2px;
        padding-right: 2px;
      }

      #balloon-task-memo {
        height: 6em;
      }

      .balloon-button {
        width: 100px;
      }

      .relative {
        position: relative;

        .right-bottom {
          position: absolute;
          right: 0px;
          bottom: 0px;
        }
      }

      .balloon-time-option {
        .coretime {
          background-color: hsl(160, 30%, 92%);
        }

        .flextime {
          background-color: #FFFFFF;
        }
      }

      &:after, &:before {
        bottom: 100%;
        left: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: @balloon-background-color;
        border-width: @balloon-arrow-size;
        margin-left: -@balloon-arrow-size;
      }

      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: @balloon-border-color;
        border-width: @balloon-arrow-size + @balloon-border-width;
        margin-left: -(@balloon-arrow-size + @balloon-border-width);
      }
    }
  }

  .clearfix {
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
  }
}

.ui-selectable-helper {
  display: none;
}
