/*** カラーリング ***/
/*** 吹き出しの設定 ***/
body {
  padding: 10px;
}
#schedule-editor {
  padding: 50px;
  text-align: center;
}
#schedule-editor * {
  box-sizing: inherit;
}
#schedule-editor .default-border {
  border-color: black;
  border-style: solid;
}
#schedule-editor .disable-user-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#schedule-editor #schedule-editor-table {
  text-align: left;
  padding: 0px;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
#schedule-editor #schedule-editor-table #table-content {
  /*height: 300px;
      overflow-x: hidden;
      overflow-y: scroll;*/
  position: relative;
}
#schedule-editor #schedule-editor-table #task-grid,
#schedule-editor #schedule-editor-table #table-header {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#schedule-editor #schedule-editor-table #task-grid #task-grid-left,
#schedule-editor #schedule-editor-table #table-header #task-grid-left,
#schedule-editor #schedule-editor-table #task-grid #task-grid-time,
#schedule-editor #schedule-editor-table #table-header #task-grid-time,
#schedule-editor #schedule-editor-table #task-grid #task-grid-right,
#schedule-editor #schedule-editor-table #table-header #task-grid-right {
  float: left;
  border-color: black;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
}
#schedule-editor #schedule-editor-table #task-grid #task-grid-left,
#schedule-editor #schedule-editor-table #table-header #task-grid-left,
#schedule-editor #schedule-editor-table #task-grid #task-grid-right,
#schedule-editor #schedule-editor-table #table-header #task-grid-right {
  width: 300px;
}
#schedule-editor #schedule-editor-table #task-grid #task-grid-time,
#schedule-editor #schedule-editor-table #table-header #task-grid-time {
  width: 30px;
}
#schedule-editor #schedule-editor-table #task-grid #task-grid-right,
#schedule-editor #schedule-editor-table #table-header #task-grid-right {
  border-width: 0px;
}
#schedule-editor #schedule-editor-table #task-grid #task-grid-right:after,
#schedule-editor #schedule-editor-table #table-header #task-grid-right:after {
  display: table;
  content: " ";
  clear: both;
}
#schedule-editor #schedule-editor-table #task-grid .time-cell,
#schedule-editor #schedule-editor-table #table-header .time-cell,
#schedule-editor #schedule-editor-table #task-grid .task-cell,
#schedule-editor #schedule-editor-table #table-header .task-cell {
  box-sizing: border-box;
  height: 30px;
  vertical-align: top;
  cursor: default;
}
#schedule-editor #schedule-editor-table #task-grid .time-cell,
#schedule-editor #schedule-editor-table #table-header .time-cell {
  width: 30px;
  padding: 5px;
  float: left;
  text-align: center;
  background-color: #f2f2ca;
  border-color: black;
  border-style: solid;
  border-width: 0px;
}
#schedule-editor #schedule-editor-table #task-grid .time-cell.core,
#schedule-editor #schedule-editor-table #table-header .time-cell.core {
  background-color: #cdeee3;
}
#schedule-editor #schedule-editor-table #task-grid .time-cell.hour-starts,
#schedule-editor #schedule-editor-table #table-header .time-cell.hour-starts {
  border-color: black;
  border-style: solid;
  border-top-width: 1px;
}
#schedule-editor #schedule-editor-table #task-grid .task-cell,
#schedule-editor #schedule-editor-table #table-header .task-cell {
  width: 300px;
  float: left;
  background-color: #f6f6ee;
  border-color: black;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}
#schedule-editor #schedule-editor-table #task-grid .task-cell.core,
#schedule-editor #schedule-editor-table #table-header .task-cell.core {
  background-color: #e4f1ed;
}
#schedule-editor #schedule-editor-table #task-grid .time-cell:first-child,
#schedule-editor #schedule-editor-table #table-header .time-cell:first-child,
#schedule-editor #schedule-editor-table #task-grid .task-cell:first-child,
#schedule-editor #schedule-editor-table #table-header .task-cell:first-child {
  border-top-width: 0px;
}
#schedule-editor #schedule-editor-table #task-grid .time-cell.ui-selecting,
#schedule-editor #schedule-editor-table #table-header .time-cell.ui-selecting,
#schedule-editor #schedule-editor-table #task-grid .task-cell.ui-selecting,
#schedule-editor #schedule-editor-table #table-header .task-cell.ui-selecting {
  background-color: #FC4;
}
#schedule-editor #schedule-editor-table #table-header .grid-cell {
  width: 100%;
  height: 30px;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}
#schedule-editor #schedule-editor-table #table-header .grid-cell .task-cell {
  width: 50%;
  height: 100%;
  background-color: #f2f2ca;
  font-weight: bold;
  text-align: center;
  font-size: 110%;
  line-height: 30px;
  border-width: 0px;
}
#schedule-editor #schedule-editor-table #task-list {
  width: 300px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  cursor: default;
  right: 0px;
  top: 0px;
}
#schedule-editor #schedule-editor-table #task-list .task {
  position: absolute;
  width: 300px;
  border-width: 0px;
  padding: 0px;
  pointer-events: auto;
  z-index: 10;
  box-sizing: border-box;
}
#schedule-editor #schedule-editor-table #task-list .task.active {
  z-index: 15;
}
#schedule-editor #schedule-editor-table #task-list .task .task-content {
  width: 100%;
  height: 100%;
  padding: 5px;
  word-wrap: break-word;
  overflow: hidden;
  border-color: black;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}
#schedule-editor #schedule-editor-table #task-list .task .task-content .task-head {
  margin-bottom: 10px;
}
#schedule-editor #schedule-editor-table #task-list .task .task-content .task-head:after {
  display: table;
  content: " ";
  clear: both;
}
#schedule-editor #schedule-editor-table #task-list .task .task-content .task-head .task-title {
  margin: 0px 25px 2px 0px;
  font-size: 1.1em;
}
#schedule-editor #schedule-editor-table #task-list .task .task-content .task-head .task-time {
  color: #666;
  float: right;
  font-size: 0.9em;
}
#schedule-editor #schedule-editor-table #task-list .task .task-content.topmost {
  border-width: 0px;
}
#schedule-editor #schedule-editor-table #task-list .task[data-task-type="0"] {
  background-color: #9dccff;
}
#schedule-editor #schedule-editor-table #task-list .task.active[data-task-type="0"] {
  background-color: #5fb1ff;
}
#schedule-editor #schedule-editor-table #task-list .task[data-task-type="1"] {
  background-color: #7de395;
}
#schedule-editor #schedule-editor-table #task-list .task.active[data-task-type="1"] {
  background-color: #28d952;
}
#schedule-editor #schedule-editor-table #task-list .task[data-task-type="2"] {
  background-color: #f3c470;
}
#schedule-editor #schedule-editor-table #task-list .task.active[data-task-type="2"] {
  background-color: #f5a311;
}
#schedule-editor #schedule-editor-table #task-list .task[data-task-type="3"] {
  background-color: #ffadfb;
}
#schedule-editor #schedule-editor-table #task-list .task.active[data-task-type="3"] {
  background-color: #ff7bff;
}
#schedule-editor #schedule-editor-table #edit-balloon {
  position: absolute;
  left: 100px;
  width: 350px;
  z-index: 100;
  display: none;
  padding: 20px;
  margin-top: 20px;
  background-color: #fafafa;
  border: 1px solid #888888;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #000;
  box-sizing: border-box;
}
#schedule-editor #schedule-editor-table #edit-balloon [class*="col-"] {
  padding-left: 2px;
  padding-right: 2px;
}
#schedule-editor #schedule-editor-table #edit-balloon #balloon-task-memo {
  height: 6em;
}
#schedule-editor #schedule-editor-table #edit-balloon .balloon-button {
  width: 100px;
}
#schedule-editor #schedule-editor-table #edit-balloon .relative {
  position: relative;
}
#schedule-editor #schedule-editor-table #edit-balloon .relative .right-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#schedule-editor #schedule-editor-table #edit-balloon .balloon-time-option .coretime {
  background-color: #e4f1ed;
}
#schedule-editor #schedule-editor-table #edit-balloon .balloon-time-option .flextime {
  background-color: #FFFFFF;
}
#schedule-editor #schedule-editor-table #edit-balloon:after,
#schedule-editor #schedule-editor-table #edit-balloon:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#schedule-editor #schedule-editor-table #edit-balloon:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fafafa;
  border-width: 20px;
  margin-left: -20px;
}
#schedule-editor #schedule-editor-table #edit-balloon:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #888888;
  border-width: 21px;
  margin-left: -21px;
}
#schedule-editor .clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
.ui-selectable-helper {
  display: none;
}
